[req]
default_bits       = 2048
prompt             = no
default_md         = sha256
distinguished_name = dn
req_extensions     = req_ext

[dn]
C  = TH
ST = Bangkok
L  = Bangkok
O  = Dynamic Computer Co., Ltd.
CN = dynamiccomputer.co.th

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = dynamiccomputer.co.th
DNS.2 = www.dynamiccomputer.co.th
